* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .logo {
    font-weight: bold;
}

.navbarleft ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbarleft ul li {
    list-style: none;
}

.navbarleft ul li a {
    text-decoration: none;
    color: #111;
}

header ul li a:hover {
    color: black;
    font-weight: bold;
}

.navbarleft .price {
    background-color: rgb(207, 200, 200);
    padding: 10px;
    border-radius: 30px;
}

.navbarright ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbarright ul li {
    list-style: none;
}

.navbarright ul li a{
    text-decoration: none;
    color: #111;
}

.navbarright .talk-btn {
    background-color: rgb(218, 218, 5);
    padding: 10px;
    border-radius: 50px;
}

main #herosection {
    background-color: whitesmoke;
    
}

.herocards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 30px;
}

.herobox{
    padding: 0 10px;
}
.herocards .herobox .evaluation {
    background-color: white;
    border: #111, 1px, solid;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    font-size: 14px;
}

#pricing .abonnement {
    display: flex;
    justify-content: center;
    margin: 50px;
    
}
#pricing .abonnement .btn-toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    width: 200px;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;

}

.btn-toggle button {
    background-color: gray;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    width: 200px;
    height: 20px;
}

.btn-toggle button:hover{
 background-color: white;
}

.btn-toggle .active {  
    border-radius: 10px;
    
}
#pricing .pricingcards {
    display: flex;
    justify-content: center;
    align-items: center;


}

.pricingbox {

    background-color: whitesmoke;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    height: 400PX;
}

.pricingbox h3,p,button,ul li {
    margin-bottom: 10px;
}

.pricingbox:hover {
    background-color: rgb(219, 219, 7);
}

.pricingbox button {
    background-color: #fff;
    border: #111, 1px, solid;
    border-radius: 8px;
    width: 200px;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pricingbox button:hover {
    background-color: #111;
    color: #fff;
}

#review {
    background-color: rgb(207, 207, 18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2Opx;
}

.review-right {
    padding: 20px;
}

.item {
    padding: 20px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: orange;
}